<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Restaurant Automation</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
<div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Restaurant Automation", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            
            <div class="navbar-collapse collapse">
                @if (Request.IsAuthenticated && ((string)Session["Role"] == "customer"))
                {
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Menu", "Index", "Products", null, null)</li>
                    <li>@Html.ActionLink("Order", "Index", "Orders", null, null)</li>
                    <li>@Html.ActionLink("Payment", "Index", "Payments", null, null)</li>
                </ul>
                }
                @if (Request.IsAuthenticated && ((string)Session["Role"] == "server"))
                {
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Menu", "Index", "Products", null, null)</li>
                        <li>@Html.ActionLink("Order", "Index", "Orders", null, null)</li>
                        <li>@Html.ActionLink("Payment", "Index", "Payments", null, null)</li>
                    </ul>
                }
                @if (Request.IsAuthenticated && ((string)Session["Role"] == "cook"))
                {
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Order", "Index", "Orders", null, null)</li>
                    </ul>
                }
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <footer>
           
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
