@model IEnumerable<UWGBRestaurantAutomation.Models.CustomerViewModel>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductPrice)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                <img src="@Url.Content(item.ProductImage)" alt="Product" width="140px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductPrice)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.OrderId })
            </td>
        </tr>
    

    <tr>
        <td colspan="4">
            @if(item.Ordering){
                @Html.ActionLink("Pay for Order", "Create", "Payments", null, null)
            }
        </td>
    </tr>
    }

</table>